---
import "../styles/global.css";
import "mapbox-gl/dist/mapbox-gl.css";

import { getCollection, getEntry } from "astro:content";

const postOffices = await getCollection("postOffices");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>Caleb Visits Post Offices</title>
  </head>
  <body class="bg-zinc-900 text-zinc-300">
    <div
      id="map"
      class="h-screen w-screen"
      data-offices={JSON.stringify(postOffices.map((o) => o.data))}
    >
    </div>
  </body>
</html>

<script>
  import mapboxgl from "mapbox-gl";

  mapboxgl.accessToken =
    "pk.eyJ1IjoiY2pkZW5pbyIsImEiOiJjbHdiMG52amcwaGd4MmttbWtlOWt5Mm1iIn0.GhHTt4W_mZpQcLYNkhsG_w";

  const map = new mapboxgl.Map({
    container: "map",
    //style: "mapbox://styles/mapbox/dark-v11",
    style: "mapbox://styles/mapbox/outdoors-v12",
    //bounds: [[-114.041477, 41.993870], [-109.045171, 36.998962]],
    center: [-111.55, 39.5],
    zoom: 6,
  });

  JSON.parse(document.getElementById("map").dataset.offices).forEach(
    (office) => {
      new mapboxgl.Marker({
        color: office.visited === "true" ? "green" : "gray",
        className: office.visited === "true" && "z-10",
      })
        .setLngLat([office.latitude, office.longitude])
        .addTo(map);
    }
  );
</script>
