---
interface Props {
  src: string;
  description: string;
}

const { src, description } = Astro.props;
---

<div
  class="group relative aspect-square text-md bg-cover bg-center p-10 overflow-hidden"
  style={`background-image: url("${src}")`}
  title={description}
>
  <!-- <div
    class="absolute inset-0 opacity-0 group-hover:opacity-100 flex items-end transition-opacity p-5 bg-gradient-to-b from-transparent from-70% to-zinc-900"
  >
    <div class="transition-transform translate-y-3 group-hover:translate-y-0">
      {description}
    </div>
  </div> -->
</div>
