---
interface Props {
  src: string;
  description: string;
}

const { src, description } = Astro.props;
---

<div
  class="group relative aspect-square text-md bg-cover bg-center p-10 overflow-hidden"
  style={`background-image: url("${src}")`}
  title={description}
>
</div>
