---
import Layout from "./Layout.astro";
import { Image } from "astro:assets";
import defaultAvatar from "../img/caleb/1.jpeg";

import Sidebar from "../components/Sidebar.astro";

interface Props {
  title: string;
  selected: string;
  fullBleed?: boolean;
}

const { title, selected, fullBleed = false } = Astro.props;
---

<Layout title={title}>
  <div class="flex mx-auto items-start">
    <Sidebar />

    <div class="py-14 flex-grow">
      <div
        class="flex px-7 lg:px-0 flex-col sm:flex-row justify-between items-center mb-10 lg:mb-5 flex-wrap gap-5"
      >
        <div
          class="lg:hidden flex items-center gap-5 justify-center sm:justify-start"
        >
          <Image
            src={defaultAvatar}
            alt="Caleb Denio"
            class="w-16 rounded-lg"
	    data-turbo-permament
          />
          <h1 class="text-4xl font-bold text-center">Caleb Denio</h1>
        </div>

        <nav
          class="flex gap-5 uppercase tracking-wider *:transition-colors *:cursor-pointer justify-center lg:justify-start"
        >
          <a
            href="/"
            class:list={{
              "text-zinc-600 hover:text-zinc-300": selected != "gallery",
            }}
          >
            Gallery
          </a>
          <a
            href="/experiments"
            class:list={{
              "text-zinc-600 hover:text-zinc-300": selected != "experiments",
            }}
          >
            Experiments
          </a>
        </nav>
      </div>

      <div class:list={["lg:pr-7 lg:pl-0", fullBleed || "px-7"]}>
        <slot />
      </div>
    </div>
  </div>
</Layout>
